# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
DerivedData/
build/
Products/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.playground/timeline.xctimeline
*.playground/playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
*.xcworkspace/xcshareddata/swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Firebase
SimpleTasks/GoogleService-Info.plist
**/GoogleService-Info.plist

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
